{% extends "base.html.twig" %}

{% block content %}
    <div style="height: 800px; width: 1000px;" id="map"></div>

    <script>
        var map = L.map('map').setView([42.15, 24.75], 8);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        {% for gps in gpsCollection %}
            var latlngs = [];
            {%  for point in gps.points %}
                latlngs.push([
                    {{ point.lat }},
                    {{ point.lon }}
                ]);
            {% endfor %}

            var polyline = L.polyline(latlngs, {color: 'red'}).addTo(map);
            polyline.bindPopup('<a href="{{ path('gps-view', {id: gps.id}) }}">view details</a>');
        {% endfor %}

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                map.panTo(new L.LatLng(position.coords.latitude, position.coords.longitude));
            });
        }
    </script>
{% endblock %}
