{% extends "base.html.twig" %}

{% block content %}
    <div style="height: 400px; width: 700px;" id="map"></div>

    <script>
        var gpsColors = [
            'blue',
            'black',
            'indigo',
            'orange',
            'purple',
            'red',
        ];
        var map = L.map('map').setView([42.15, 24.75], 12);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        var loadedTracks = {};

        map.on('moveend', function() {
            var ajax = new XMLHttpRequest();
            ajax.onreadystatechange = function() {
                if (this.readyState != 4 || this.status != 200) {
                    return;
                }

                responseAsJson = JSON.parse(this.responseText);

                var responseStatus = responseAsJson.status;

                if (responseStatus == 2) {
                    appNotification.error('Too many track found, please zoom in');
                    return;
                }

                if (responseStatus != 1) {
                    // unknown error
                    // @FIXME show error
                    return;
                }

                var tracksData = responseAsJson.data;

                for (var i =0; i < tracksData.length; i++) {
                    var id = tracksData[i].id;

                    if (loadedTracks[id]) {
                        continue;
                    }

                    loadedTracks[id] = true;

                    var points = tracksData[i].points;
                    var pointsAsPolyline = [];
                    for (var j=0; j < points.length; j++) {
                        pointsAsPolyline.push([
                            points[j].lat,
                            points[j].lng
                        ]);
                    }

                    var polelineColor = gpsColors[Math.floor(Math.random()*gpsColors.length)];
                    var polyline = L.polyline(pointsAsPolyline, {color: polelineColor}).addTo(map);
                    polyline.bindPopup('<a href="/gps/view/' + id + '">view details</a>');
                }
            };
            var url = '/{{ app.request.locale }}/gps/list';
            url += '/' + map.getBounds().getNorthEast().lat;
            url += '/' + map.getBounds().getNorthEast().lng;
            url += '/' + map.getBounds().getSouthWest().lat;
            url += '/' + map.getBounds().getSouthWest().lng;

            var postData = new FormData();
            var fetchedTracksIds = [];
            for (var key in loadedTracks) {
                fetchedTracksIds.push(key);
            }

            postData.append('skipTracks', fetchedTracksIds);

            ajax.open('POST', url);
            ajax.send(postData);
        });

        map.panTo(new L.LatLng(42.15, 24.75));
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                map.panTo(new L.LatLng(position.coords.latitude, position.coords.longitude));
            });
        }
    </script>
{% endblock %}
