version: "3"
services:
  web:
    restart: unless-stopped
    build: docker/web/dev
    volumes:
    - ./:/var/www
    environment:
    - WEB_UID=${WEB_UID}
    depends_on:
      - sql
  sql:
    restart: unless-stopped
    image: mariadb:10.3
    environment:
      MYSQL_ROOT_PASSWORD: 1
      MYSQL_USER: gps
      MYSQL_PASSWORD: 1
      MYSQL_DATABASE: gps
    ports:
      - 33066:3306
    volumes:
    - ./docker/var/sql:/var/lib/mysql
