<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
    {% if app_title is defined and app_title is not empty %}
        {{ app_title }}
        |
    {% endif %}
    {{ 'GPS tracks by track-hub.com'|trans }}
</title>

{% if app_canonical_url is defined and app_canonical_url is not empty %}
    <link rel="canonical" href="{{ absolute_url(app_canonical_url) }}" />
{% endif %}

{{ app_meta_alternate()|raw }}

<!-- Import stylesheets --->
<link rel="stylesheet" type="text/css"
      href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css">
