label[for=file_input] {
    cursor: pointer;
}

.track_images {
    max-height: 300px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space:nowrap;
}

.track_images img {
    margin-right: 2px;
    max-width: 300px;
    max-height: 300px;
}

.track_images img:not:first-child {
    margin-left: 2px;
}

#file_upload_progress img {
    max-width: 300px;
    max-height: 300px;
}

#file_upload_progress div {
    padding-top: 10px;
}

.upload_progress_text {
    background-color: black;
    color: white;
    max-width: 300px;
}
