indexWithoutLocale:
  path: /
  controller: App\Controller\Home::home

home:
  path: /{_locale}
  controller: App\Controller\Home::home
  requirements:
    _locale: en|bg

gps-new-version:
  path: /{_locale}/gps/new-version/{id}
  controller: App\Controller\Track::newVersion

gps-new:
  path: /{_locale}/gps/new
  controller: App\Controller\Track::new

gps-view:
  path: /{_locale}/gps/view/{id}
  controller: App\Controller\Track::view

gps-list:
  path: /{_locale}/gps/list/{neLat}/{neLon}/{swLat}/{swLon}/{size}
  defaults:
    size: 10
  controller: App\Controller\Home::find

gps-download:
  path: /{_locale}/gps/download/{id}
  controller: App\Controller\Track::download

app_logout:
  path: /logout

app_privacy_policy:
  path: /{_locale}/privacy-policy
  controller: App\Controller\SimpleContent::privacyPolicy

app_tos:
  path: /{_locale}/terms-of-service
  controller: App\Controller\SimpleContent::termsOfService

app_contacts:
  path: /{_locale}/contacts

app_cookie_policy:
  path: /{_locale}/cookie-policy
  controller: App\Controller\SimpleContent::cookiePolicy

app_sponsored_integration:
  path: /{_locale}/sponsored-integration

app_legal_bases:
  path: /{_locale}/legal-bases
  controller: App\Controller\SimpleContent::legalBases

app_user_terms:
  path: /{_locale}/user/terms
  controller: App\Controller\User::terms

app_user_download_personal_data:
  path: /{_locale}/user/personal-data-download
  controller: App\Controller\User::downloadPersonalData