{% extends "base.html.twig" %}

{% block content %}

<h1> Privacy Policy for track-hub.com</h1>
<p>
    If you require any more information or have any questions about our privacy policy,
    please feel free to contact us by email at <a href="mailto:trackhubcom@gmail.com">trackhubcom@gmail.com</a>.
</p>
<p>
    At track-hub.com we consider the privacy of our visitors to be extremely important.
    This privacy policy document describes in detail the types of personal information is collected and recorded by track-hub.com and how we use it.
</p>
<p>
    <h2>Log Files</h2>
    Like many other Web sites, track-hub.com makes use of log files.
    These files merely logs visitors to the site - usually a standard procedure for hosting companies and a part of hosting services's analytics.
    The information inside the log files includes internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date/time stamp,
        referring/exit pages, and possibly the number of clicks.
    This information is used to analyze trends, administer the site, track user's movement around the site, and gather demographic information.
    IP addresses, and other such information are not linked to any information that is personally identifiable.
</p>
    <h3>Right to erasure</h3>
    You have the right to request erasure of Personal Data without undue delay under certain circumstances,
    e.g. if your Personal Data is no longer necessary for the purposes for which it was collected
    or if you withdraw consent on which processing is based and where there is no other legal ground for processing.
    <br>
    You can request account deletion using the link with label &quot;Delete account&quot; in profile menu(in the header of every page).
    <br>
    You can view your personal data using the link with label &quot;Download personal data&quot; in profile menu(in the header of every page).

    <h2>Basic Account Information</h2>
<p>
    We collect information about your user profile.
    This information is needed to identify your account.
    <ul>
    <li>username</li>
    <li>password</li>
    <li>email address</li>
    <li>facebook id</li>
    </ul>
</p>

<p>
    <h2>Cookies and Web Beacons</h2>
    track-hub.com uses cookies to store information about visitors' preferences,
    to record user-specific information on which pages the site visitor accesses or visits,
    and to personalize or customize our web page content based upon visitors' browser type or other information that the visitor sends via their browser.

    We use Google Analytics to evaluate use of our services.
    To opt-out of Google Analytics, please go to:  <a href="https://tools.google.com/dlpage/gaoptout/">https://tools.google.com/dlpage/gaoptout/</a>.

    These tools help us to improve our services (for example performance and experiences).
    Google Analytics may use cookies and other tracking technologies(for example 'web beacons').
    Google Analytics may collect your device ID, IP address, or other information
        about your use of track-hub.com as part of the analytics they provide to us.
</p>
<p>
    <h2>Our Advertising Partners</h2>
    <br>
    Some of our advertising partners may use cookies and web beacons on our site. Our advertising partners include
    <ul>
        <li>Google</li>
    </ul>
</p>
<p>
    <em>
        While each of these advertising partners has their own Privacy Policy for their site, an updated and hyperlinked resource is maintained here:
        <a href="http://www.privacypolicyonline.com/privacy-policies">Privacy Policies</a>.
        <br />
        You may consult this listing to find the privacy policy for each of the advertising partners of track-hub.com.
    </em>
</p>
<p>
    These third-party ad servers or ad networks use technology in their respective advertisements and links that appear on track-hub.com
        and which are sent directly to your browser.
    They automatically receive your IP address when this occurs.
    Other technologies (such as cookies, JavaScript, or Web Beacons)
    may also be used by our site's third-party ad networks to measure the effectiveness of their advertising campaigns
    and/or to personalize the advertising content that you see on the site.
</p>
<p>
    track-hub.com has no access to or control over these cookies that are used by third-party advertisers.
</p>
<p>
    <b>Third Party Privacy Policies</b><br>
    You should consult the respective privacy policies of these third-party ad servers
    for more detailed information on their practices as well as for instructions about how to opt-out of certain practices.
    track-hub.com's privacy policy does not apply to, and we cannot control the activities of, such other advertisers or web sites.
    You may find a comprehensive listing of these privacy policies and their links here:
    <a href="http://www.privacypolicyonline.com/privacy-policy-links" title="Privacy Policy Links">Privacy Policy Links</a>.
</p>

<p>
    If you wish to disable cookies, you may do so through your individual browser options.
    More detailed information about cookie management with specific web browsers can be found at the browsers' respective websites.
    <a href="http://www.privacypolicyonline.com/what-are-cookies">What Are Cookies?</a>
</p>

<p>
    <strong>Children's Information</strong>
    <br />
    We believe it is important to provide added protection for children online.
    We encourage parents and guardians to spend time online with their children to observe, participate in and/or monitor and guide their online activity.
    track-hub.com does not knowingly collect any personally identifiable information from children under the age of 13.
    If a parent or guardian believes that track-hub.com has in its database the personally-identifiable information of a child under the age of 13,
        please contact us immediately (using the contact in the first paragraph)
        and we will use our best efforts to promptly remove such information from our records.
</p>
<p>
    <b>Online Privacy Policy Only</b><br />
    This privacy policy applies only to our online activities and is valid for visitors to our website and regarding information shared and/or collected there.
    This policy does not apply to any information collected offline or via channels other than this website.</p>
<p><b>Consent</b><br />
    By using our website, you hereby consent to our privacy policy and agree to its terms.
</p>
<br />
<br />
<p>
    <b>Update</b>
    <br />
    This Privacy Policy was last updated on: April 18th, 2022.
<a href="http://www.PrivacyPolicyOnline.com" title="PrivacyPolicyOnline.com Approved Site" target="_blank"><img src="http://www.privacypolicyonline.com/images/privacypolicyonline-seal.png" border="0" alt="Privacy Policy Online Approved Site" align="right" /></a><br /><em>Should we update, amend or make any changes to our privacy policy, those changes will be posted here.</em>
<br /><br /></p>
<!-- END of Privacy Policy || Generated by http://www.PrivacyPolicyOnline.com || -->
{% endblock %}
