<phpunit>
    <testsuites>
        <testsuite name="My Test Suite">
            <directory>./test</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>../../src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="codeCoverageLog" />
    </logging>
</phpunit>
